<div class="container">
    <article>
        <h4>Contact Us</h4>

        <p>Name:</p>
        <input type="text" id="name" name="name" placeholder="Your name..">
        <p>Email:</p>
        <input type="email" id="email" name="email" placeholder="Your email..">
        <p>Subject:</p>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        <button><a role="button" routerLink="/home">Send form</a></button>

    </article>
    <article>
        <h4>Our Info</h4>

        <p>Address: 123 Bike Way, Bike City, Bike Country</p>
        <p>Phone: 555-555-5555</p>
        <p>Email: contact@bikeway.com</p>
        <footer>
            <p>Follow us: <a href="https://twitter.com/bikeway" target="_blank">Twitter </a> <a
                    href="https://instagram.com/bikeway" target="_blank">Instagram </a> <a
                    href="https://facebook.com/bikeway" target="_blank">Facebook </a></p>
        </footer>
    </article>
</div>