#themeButton:hover{
    cursor: pointer;

}

.imgLogo{
    width: 150px;
    
}

.themeButtonLight{
    background:url("https://img.icons8.com/material-outlined/30/null/sun--v1.png");
    width:30px;
    height:30px;
    vertical-align: middle;
    align-items: center;
    margin-top:10px;
  }

  

  .themeButtonDark{
    background:url("https://img.icons8.com/parakeet/30/null/sun.png");
    width:30px;
    height:30px;
    vertical-align: middle;
    align-items: center;
    margin-top:10px;
  }

  

