#themeButton:hover{
    cursor: pointer;

}

.imgLogo{
  width: 200px;

}

.themeButtonLight{
    background:url("https://img.icons8.com/material-outlined/30/null/sun--v1.png");
    width:30px;
    height:30px;
    vertical-align: middle;
    align-items: center;
    margin-top:10px;
  }

  
  .themeButtonDark{
    background:url("https://img.icons8.com/cotton/30/null/sun--v1.png");
    width:30px;
    height:30px;
    vertical-align: middle;
    align-items: center;
    margin-top:10px;
  }

  

