<div class="container ">
    <div>
        <p>PAGE HOME</p>
    </div>
    <article class="grid">
        <div class="routesSearchField">
            <hgroup>
                <table>
                    <tr>
                        <td><label>Adresse de départ</label></td>
                        <td><input type="text" /> </td>
                        <td><label for="switch">
                                <input type="checkbox" id="switch" name="switch" role="switch">
                                Utiliser ma position
                            </label> </td>
                    </tr>
                    <tr>
                        <td><label>Adresse d'arrivé</label></td>
                        <td><input type="text" /> </td>

                    </tr>

                </table>
            </hgroup>
            <div></div>
        </div>
        <div><app-map></app-map></div>
    </article>
</div>