<div *ngIf="authService.userData as user;else otherwise">
        <div class="alreadyConnected">
                Vous êtes déja connecté, vous déconnecter?
                <button (click)="authService.SignOut()">disconnect</button>
        </div>

</div>

<ng-template #otherwise>
        <div class="container loginContainer">
                <article class="grid articled">
                        
                        <div id="imageLogin">         
                        </div> 
                        <div >
                                <hgroup>
                                        <h4>Connection</h4>
                                        <h5>Accedez à votre compte BikeWay</h5>
                                </hgroup>
                                <form>
                                        <label>Mail :</label>
                                        <input type="mail" placeholder="Entrez votre mail" name="mail" #mail required>
                                        <label>Mot de passe: </label>
                                        <input type="password" placeholder="Entrez votre mot de passe" name="password" #password required>
                                        <button type="button" (click)="authService.SignIn(mail.value, password.value)">
                                                Se connecter
                                        </button>
        
                                        <input type="reset" value="Annuler">
                                        <a href="#"> Mot de passe oublié? </a>
                                </form>
                        </div>
                       
                </article>
        </div>
</ng-template>


