<div class="container aboutContainer">

        <div class="grid margin">
            <div>
                <h1>A propos de  <div  style="color:#3F72AF;display: inline;">BikeWay</div></h1>
                <p class="paragraphs" >Bienvenue sur BikeWay, votre ressource incontournable pour trouver les meilleurs itinéraires à vélo et le libre-service
                    emplacements des vélos sur la carte. Notre équipe est passionnée par la promotion de l'utilisation du vélo comme
                    mode de transport durable et sain.</p>
            </div>
            <div >
                <img class="illustrationImage" src="../../../assets/images/illustrationVélo4.jpg" alt=" Bike illustration" />
            </div>
        </div>

        <div class="grid margin" >
            <div>
                <img class="illustrationImage" style="width:80%;height:90%" src="../../../assets/images/illustrationVelo3.jpg" alt=" Bike illustration" />
            </div>
            <div>
                <h1>Nos <div  style="color:#C9ADA7;display: inline;">Croyances</div></h1>
                <p style="display:inline">Chez BikeWay, nous pensons que les vélos sont une solution importante à de nombreux défis auxquels sont confrontés nos
                    les villes et les collectivités d'aujourd'hui. Ils fournissent une manière </p><div  style="color:green;display: inline;">propre</div> <p style="display:inline"> 
                        et </p><div  style="color:blue;display: inline;">efficace</div> <p style="display:inline"> de se déplacer, réduire le trafic
                            la congestion et la pollution de l'air, et favorisent l'activité physique et le bien-être général. Nos services le font
                            facile pour les gens de trouver et d'utiliser des vélos, ce qui rend plus pratique que jamais de choisir le vélo comme moyen de
                            se déplacer.</p>
                        <p>Notre mission est d'aider les vélos à conquérir le monde en les rendant accessibles et pratiques pour tous.
                            Nous nous engageons à fournir la meilleure expérience utilisateur possible et à constamment mettre à jour nos fonctionnalités pour
                            vous permettent de trouver encore plus facilement l'itinéraire cyclable et les stations de vélos en libre-service parfaits.</p>
            </div>
            
        </div>

        <div class="grid margin">
            
            <div>
                <h1>Changement climatique?</h1>
                <p>Non seulement les vélos offrent un moyen propre et efficace de se déplacer, mais ils jouent également un rôle important dans
                    réduire les émissions de carbone. En choisissant de faire du vélo au lieu de conduire, nous pouvons réduire considérablement la
                    quantité de CO2 rejetée dans l'atmosphère.
                    <br><h6>*Nombre de voyages à Paris en <div  style="color:blue;display: inline;">vélo</div>  et en <div style="display: inline;color:orange">voiture</div> </h6> <a href='https://www.sciencedaily.com/releases/2019/06/190612085654.htm'>Source</a> </p>
            </div>
            <div>
                <img class="illustrationImage" style="width:90%;height:90%" src="../../../assets/images/graph.PNG" alt="Graphique vélo" />
            </div>
            
        </div>
        <div class="team-section margin">
            <h2>Rencontrez l'équipe !</h2>
            <p>Les personnes derrières BikeWay, passionnés de vélo et désireux d'y apporter une différence.</p>
            <ul>
                <li>Victor de Vitry - Fondateur / Tech lead</li>
                <li>Jean Philippe Nondedeo - Front-end expert / Consultant</li>
            </ul>
        </div>
    
 
</div>