<div class="container aboutContainer">

        <div class="grid margin">
            <div>
                <h1>About <div  style="color:#3F72AF;display: inline;">BikeWay</div></h1>
                <p>Welcome to BikeWay, your go-to resource for finding the best bicycle itineraries and self-service
                    bike locations on the map. Our team is passionate about promoting the use of bicycles as a
                    sustainable and healthy mode of transportation.</p>
            </div>
            <div >
                <img class="illustrationImage" src="../../../assets/images/illustrationVélo4.jpg" alt=" Bike illustration" />
            </div>
        </div>

        <div class="grid margin" >
            <div>
                <img class="illustrationImage" src="../../../assets/images/illustrationVelo3.jpg" alt=" Bike illustration" />
            </div>
            <div>
                <h1>Our <div  style="color:#C9ADA7;display: inline;">Beliefs</div></h1>
                <p style="display:inline">At BikeWay, we believe that bicycles are an important solution to many of the challenges facing our
                    cities and communities today. They provide a </p><div  style="color:green;display: inline;">clean</div> <p style="display:inline"> 
                        and </p><div  style="color:blue;display: inline;">efficient</div> <p style="display:inline"> way to get around, reduce traffic
                    congestion and air pollution, and promote physical activity and overall well-being. Our services make it
                    easy for people to find and use bikes, making it more convenient than ever to choose biking as a way to
                    get around.</p>
                <p>Our mission is to help bicycles conquer the world by making them accessible and convenient for everyone.
                    We are committed to providing the best possible user experience and constantly updating our features to
                    make it even easier for you to find the perfect bike route and bike-sharing stations.</p>
            </div>
            
        </div>

        <div class="grid margin">
            
            <div>
                <h1>Climate change?</h1>
                <p>Not only do bicycles provide a clean and efficient way to get around, they also play an important role in
                    reducing carbon emissions. By choosing to bike instead of drive, we can significantly decrease the
                    amount of CO2 released into the atmosphere.
                    <br><h6>*Number of travels in Paris in <div  style="color:blue;display: inline;">bike</div>  and in <div style="display: inline;color:orange">car</div> </h6> <a href='https://www.sciencedaily.com/releases/2019/06/190612085654.htm'>Source</a> </p>
            </div>
            <div>
                <img class="illustrationImage" src="../../../assets/images/graph.PNG" alt="Graphique vélo" />
            </div>
            
        </div>
        <div class="team-section margin">
            <h2>Meet The Team</h2>
            <p>The people behind BikeWay, passionate about biking and committed to making a difference.</p>
            <ul>
                <li>Victor de Vitry - Founder / Tech lead</li>
                <li>Jean Philippe Nondedeo - Front-end expert</li>
            </ul>
        </div>
    
 
</div>