<div class="container autom">
  <div class="row" *ngIf="authService.userData as user;else otherwise">
    <div class="test">
      <article class="centerLink">
        <header>
          <h2>
            Bonjour,<div class="nomEmail bold col"> {{user.email}}</div>
          </h2>
        </header>

        <p class="grey">Il n'y pas d'actualités sur votre compte</p>
        <a class="" (click)="authService.SignOut()">Déconnection</a>
      </article>
      <article class="inline artic">
        <header>
          <h2>Vos Voyages</h2>
        </header>
        <div *ngFor="let route of routes">

        <p class="inline">{{route.count}}</p>  
          <p class="inline bold grey">
            de
          </p>
          <p class="inline bold yellow">{{route.nomDepart}}</p>
          <p class="inline bold grey">
            à
          </p>
          <p class="inline bold green">{{route.nomArrive}} </p>

          <p class="inline bold "> ({{route.addedAt}})</p>
          
          <div class="marg inline">
            <a class=" bold deleteIcon" (click)="removeRoute(route.id)"><img
                src="https://img.icons8.com/ultraviolet/35/null/waste.png" /></a>
          </div>
          <div class="marg inline">
            <a class=" bold deleteIcon" (click)="goToRoute(route)"><img src="https://img.icons8.com/color/35/null/google-maps-new.png"/></a>
          </div>

          <br>
          <div class="inline separator"></div>
          <br>

        </div>
      </article>
    </div>
  </div>
  <ng-template #otherwise>
    <div class="container not-found ">
      <article class="articled">
        <div>
          <h4>
            Veuillez vous connecter<img src="https://img.icons8.com/glyph-neue/50/null/user-not-found.png" />
          </h4>
        </div>

        <div>

        </div>
        <div>
          <a routerLink="/login" role="button"> Connection</a>
        </div>
      </article>
    </div>

  </ng-template>
</div>