    


<div *ngIf="authService.userData as user;else otherwise">
        <div class="alreadyConnected">
                Vous êtes déja connecté, vous déconnecter?
                <button (click)="authService.SignOut()">disconnect</button>
        </div>
       
</div>

<ng-template #otherwise>
        <div class="inscription">
                <form>  
   
                        
                        
                        <label>Mail :</label>   
                        <input type="mail" placeholder="Enter mail" name="mail" #mail required>  
                        <label>Password : </label>   
                        <input type="password" placeholder="Enter Password" name="password" #password required>  
                        <button type="button" (click)="authService.SignUp(mail.value, password.value)">Sign Up</button>
                      
                        <input type="reset" value="Cancel">   
                 
                </form> 
        </div>
       
</ng-template>
